body{
    background-color: #ecf0f1;
  }
  
  body {
   color:#8e44ad;
  }

.btn{
    cursor: pointer;
}

  .clicked {
      color: red;
  }

  .form,
  .greetings {
    display: none;
  }

  .showing {
    display: block;
  }